<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <div class="row justify-content-center align-items-center">
            <h1 class="text-center justify-content-center align-items-center text-primary fw-bolder">내 정보</h1>
            <div class="login col-md-6">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-12">
                        <div sec:authentication="principal"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>