<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"/>
<style>
    .textForm {
        height: 400px;
    }
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form role="form" th:action th:object="${boardForm}" method="post">

        <div class="py-3">
            <h3 th:text="*{title}"></h3>
            <div th:text="*{member?.nickname}"></div>
            <div th:text="${#temporals.format(boardForm.writeDate, 'yy-MM-dd')}"></div>
        </div>

        <hr>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{title}"/>

        <div class="form-group pt-3">
            <label class="text-white" for="boardText" th:text="*{boardText}">내용</label>
            <textarea class="form-control textForm" id="boardText" th:field="*{boardText}"
                      th:errorclass="field-error"></textarea>
            <div class="field-error" th:errors="*{boardText}">내용 없음</div>
        </div>

        <div class="row justify-content-start py-3">
            <div class="col-1">
                <button type="submit" class="w-100 btn btn-primary btn-lg">수정</button>
            </div>
            <div class="col-1">
                <a th:href="@{/boards/board/{title} (title=${boardForm.title})}" class="w-100 btn btn-secondary btn-lg">취소</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>