<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .textForm {
        height: 400px;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div th:object="${boardForm}">
        <div class="py-3">
            <h3 th:text="*{title}"></h3>

        </div>

        <hr>
        <div th:text="*{member?.nickname}"></div>
        <div th:text="${#temporals.format(boardForm.writeDate, 'yy-MM-dd')}"></div>

        <div class="pt-3">
            <div class="form-control textForm" th:text="*{boardText}"></div>
        </div>

        <div class="row justify-content-start py-3">
            <div class="col-1">
                <a class="w-100 btn btn-primary" th:href="@{/boards/board/{title}/edit (title=${boardForm.title})}">수정</a>
            </div>
            <div class="col-1">
                <a th:href="@{/}" class="w-100 btn btn-secondary">목록</a>
            </div>
        </div>

        <div class="row justify-content-start">
            <div class="col-1">
                <div class="row">
                    <div class="col-3">
                        <i class="ri-heart-fill pe-1"></i>
                    </div>
                    <div class="col-3">
                        <div th:text="*{likes}"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <table class="pt-2 table table-striped">
        <thead>
        <tr>
            <th>작성자</th>
            <th>내용</th>
            <th>작성일자</th>
        </tr>
        </thead>
        <tbody>
        <tr>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>